{% extends "base.html" %}

{% block content %}
  <h2>Upload your file</h2>

  {% if error_message %}
  <p class="error_message">{{ error_message }}</p>
  {% endif %}

  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
  {% endif %}

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>
{% endblock %}

